.pion {
	-fx-fill: lightgray;
}

.pion#joueur1 {
	-fx-fill: #FFEB8A;
}

.pion#joueur2 {
	-fx-fill: #FF3664;
}

.bouton_jouer {
	-fx-background-color: green;
	-fx-min-width: 80;
	-fx-min-height: 80;
}

.bouton_jouer:disabled {
	-fx-background-color: darkred;
	-fx-opacity: 1.0;
}

.bouton_jouer:pressed {
	-fx-background-color: darkgreen;
}

#plateau {
	-fx-background-color: #7ACBD7;
	-fx-hgap: 5;
	-fx-vgap: 5;
	-fx-padding: 15;
	-fx-alignment: center;
}

.joueurs {
	-fx-background-color: #AEE5ED;
	-fx-spacing: 5;
	-fx-padding: 15;
	-fx-alignment: top-center;
	-fx-pref-width: 360px;
}

.joueur {
	-fx-alignment: center-left;
	-fx-spacing: 5;
}

#pause .pion {
	-fx-fill: gray;
}

#pause .joueurs .pion#joueur1 {
	-fx-fill: #DBCF95;
}

#pause .joueurs .pion#joueur2 {
	-fx-fill: #BD5D73;
}

#pause #plateau {
	-fx-background-color: #7EBBC4;
}

#pause .joueurs {
	-fx-background-color: #AFD6DB;
}
